.contenido-tarjetas {
  width: 380px;
  border: 2px solid var(--color-morado);
  box-shadow: 0px 0px 20px -4px #53d5b2;
  background-color: var(--color-negro);
  margin-bottom: 70px;
  border-radius: 13px;
  z-index: 88;
}
.imagen-contenido-tarjetas {
  width: 377px;
  border-radius: 10px 10px 0 0;
}
.contenido-textos-tarjetas {
  padding: 20px;
}
.contenido-textos-tarjetas h2 {
    font-size: 25px;
    margin-bottom: 16px;
}
.contenido-textos-tarjetas p {
    font-size: 14px;
    margin-bottom: 60px;
}
.contenido-url-proyectos {
    display: flex;
    flex-direction: column;
}
.contenido-url-proyectos button {
    width: 180px;
    height: 40px;
    margin-bottom: 20px;
    background-color: var(--color-morado);
    border-radius: 50px;
    color: var(--color-blanco);
    border: none;
}
.contenido-url-proyectos button:hover {
    background-color: var(--color-verde);
}
.contenido-url-proyectos a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    text-decoration: none;
    color: var(--color-blanco);
    font-size: 16px;
}
@media screen and (max-width: 770px) {
  .contenido-tarjetas {
    width: 260px;
  }
  .imagen-contenido-tarjetas {
    width: 257px;
  }
}

