.contenido-texto-habilidades {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.imagen-lenguaje {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-morado);
    border-radius: 50px;
    margin-right: 12px;
}
.imagen-lenguaje img {
    width: 40px;
    height: 40px;
}