.contenido-inicio {
  width: 100%;
  padding: 0 60px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto-inicio h2 {
  font-size: 100px;
  margin-bottom: 30px;
  opacity: 0;
  animation: aparecer 2s forwards;
}
.texto-inicio h3 {
  font-size: 30px;
}
.texto-desarrolladora {
  font-size: 20px;
  color: var(--color-verde);
}
.botones-de-contacto {
  margin-top: 60px;
  position: relative;
}
.botones-de-contacto button {
  width: 150px;
  height: 40px;
  background-color: var(--color-morado);
  border-radius: 50px;
  margin-left: 12px;
  border: none;
}
.botones-de-contacto button:hover {
  background-color: var(--color-verde);
}
.botones-de-contacto a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 17px;
  text-decoration: none;
  color: var(--color-blanco);
}
.circulo-1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-top: 40px;
  background-color: var(--color-morado);
  animation: moveCircle 2s linear infinite alternate;
  box-shadow: 0px 2px 20px 2px #78baf0b3;
}
@keyframes moveCircle {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(
      280px
    ); /* Cambia la distancia a la que se moverá el círculo */
  }
}
.color-bubles {
  color: var(--color-negro);
}

.contenido-img-inicios {
  width: 100%;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 519px) {
  .texto-inicio h2 {
    font-size: 46px !important;
  }
  .contenido-inicio h3 {
    font-size: 20px;
  }
  .texto-desarrolladora {
    font-size: 14px;
  }
  .botones-de-contacto button {
    width: 70px !important;
  }
  .botones-de-contacto a {
    font-size: 12px;
  }
  .circulo-1 {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }
}
body {
  .textcontainer {
    text-align: center;
  }
  .particletext {
    text-align: center;
    &.bubbles {
      > .particle {
        opacity: 0;
        position: absolute;
        background-color: rgba(49, 158, 247, 0.5);
        animation: bubbles 2s ease-in infinite;
        border-radius: 100%;
      }
    }
  }
}

@keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%);
  }
}

@media screen and (max-width: 910px) {
  .contenido-inicio {
    flex-direction: column;
    margin-top: -40px;
    padding: 0 40px;
  }
  .texto-inicio h2 {
    margin-top: 100px;
    margin-bottom: 10px;
    opacity: inherit;
    animation: normal;
    font-size: 80px;
  }
  .imagen-yerti-portafolio {
    margin-top: 50px;
    width: 70% !important;
  }
  .botones-de-contacto button {
    width: 120px;
  }
}
@media screen and (max-width: 1024px) {
  .imagen-yerti-portafolio {
    width: 40%;
  }
}
