.contenido-header {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: var(--color-negro);
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
  border-bottom: 1px solid var(--color-plomo);
  z-index: 100;
}
.imagen-logo-header {
  width: 90px;
}
.menu-amburguesa-header {
  display: none;
}
.contenido-lista-header {
  display: block;
}
ul {
  display: flex;
  li {
    list-style: none;
    a {
      position: relative;
      display: block;
      text-transform: uppercase;
      margin: 20px 0;
      padding: 10px 20px;
      text-decoration: none;
      color: var(--color-morado);
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 600;
      transition: 0.5s;
      z-index: 1;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid var(--color-morado);
        border-bottom: 2px solid var(--color-morado);
        transform: scaleY(2);
        opacity: 0;
        transition: 0.3s;
      }
      &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-morado);
        transform: scale(0);
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .contenido-header {
    height: 70px;
    padding: 0 40px;
  }
  .contenido-lista-header {
    display: none;
  }
  .menu-amburguesa-header {
    display: flex;
    width: 40px;
  }
  .contenido-lista-header ul {
    flex-direction: column;
    position: absolute;
    top: 73px;
    right: 0;
    background-color: var(--color-negro);
  }
  .contenido-lista-header li {
    list-style: none;
    background-color: black;
  }
  .contenido-lista-header a {
    margin: 0;
  }
  ul li a:before {
    width: 0;
    height: 0;
    border: none;
  }
}
