:root {
  --color-negro: #000000;
  --color-blanco: #ffffff;
  --color-morado: #ac8bee;
  --color-verde: rgb(83, 213, 178);
  --color-plomo: #666666;
  --color-plomo-claro: #1d1c1c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Kanit", sans-serif;
  background-color: var(--color-negro);
  color: var(--color-blanco);
}
.espacio-habilidades {
  width: 100%;
  height: 120px;
}
